/logica/nbproject/private/
/logica/build/
/ClassesAndObjects/nbproject/private/
/ClassesAndObjects/build/
/FatecAlgoritmos/nbproject/private/
/FatecAlgoritmos/build/
/Aula27/nbproject/private/
/Aula27/build/
/Desafio/nbproject/private/
/Desafio/build/